* {
    background: rgb(58,58,58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px;
}

section {
    background: white;
    color: gray;
    padding: 20px;
}

div {
    background: red;
    display: inline-block;
    width: 100px;
}

footer {
    background: black;
    padding: 10px 20px;
}