body {
    background-color: lavender;
}

header {
    width: max-content;
}

nav {
background-color: lightgreen;
height: 100px;
}

.nav p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

section p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside p {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}