/*TAGS*/
* {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(img/sky.jpg);
    background-size: 100%;
    background-repeat: inherit;
}

h1, h3 {
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    color: honeydew;
}

p {
    text-align: justify;
    text-shadow: 1px 1px 1px #111111;
    color: lavenderblush;
}

header {
    background-color: #d87093;
    height: 80px;
    padding:20px;
}

footer {
    clear:both;
    height: 30px;
    color: honeydew;
    background-color: #d87093;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}

/*IDS*/

#logo {
    float: left;
}

#menu {
    margin-top: 30px;
    float: right;
}

#menu a {
    padding: 10px;
    color: silver;
    text-shadow: 1px 1px 1px #1111;
    text-decoration: none;
}

#menu a:hover {
    background-color: orchid;
}

#principal {
    clear: both;
    background-color: rgba(105, 105, 105, 0.438);
    min-height:200px;
    width: 57%;
    padding: 5px 0 0 0;
    float: left;
}

#lateral {
    background-color: rgba(128, 128, 128, 0.438);
    min-height: 200px;
    width: 41%;
    padding: 3px;
    margin-left: 1px;
    float: right;
}

/*CLASS*/
.container {
    width: 960px;
    margin:0 auto;
}

.efeito {
    background-color: rgba(0,0,0, 0.5);
    padding: 5px 0 5px 0;
}