* {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    margin: 0;
  }

  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  
  /* Style the content */
  .content {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 10px;
  }

  .content h1,h4 {
    font-family: 'Oswald', sans-serif;
  }

  .content p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    text-indent: 8px;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    height: 20px;
    padding: 5px;
  }

  .footer p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }